.hm-label-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 750rpx;
  height: 100%;
}

.lableClass {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30rpx;
  padding-right: 100rpx;
  padding-left: 100rpx;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  background: #fff;
  width: 720.78rpx;
  height: 100rpx;
}

.primary {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 40.91rpx;
  background-color: #d9f2ec;
  width: 81.82rpx;
  height: 81.82rpx;
}

.img {
  width: 25.32rpx;
  height: 25.32rpx;
}

.tagClass {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 40.91rpx;
  background-color: #eeeff3;
  width: 81.82rpx;
  height: 81.82rpx;
}

.pinglun {
  width: 17.53rpx;
  height: 21.43rpx;
}

.heartClass {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 40.91rpx;
  background-color: #eeeff3;
  width: 81.82rpx;
  height: 81.82rpx;
}

.xinImg {
  width: 25.32rpx;
  height: 21.43rpx;
}

.searchClass {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  border-radius: 40.91rpx;
  background-color: #eeeff3;
  width: 81.82rpx;
  height: 81.82rpx;
}

.dot {
  position: relative;
  margin-top: 46.75rpx;
  width: 9.74rpx;
  height: 9.74rpx;
}

.play {
  position: absolute;
  top: 31.17rpx;
  left: 29.22rpx;
  width: 19.48rpx;
  height: 19.48rpx;
}
